:root{ --cor--primaria:white;
    --cor-secundaria:black;}
    
*{  margin:0;
    padding:0;}

.cabecalho{ padding: 2% 0% 0% 15%; 
    background-color:black ;
    padding: 18px;}

.cabecalho__menu{ display:flex;
    gap: 10%;}

.cabecalho__paginas{ font-size: 22px;
    color: white;
    text-decoration: none;}

h1{text-align: center;
    font-size: 28;
    font-family:'Times New Roman';}

.feminino{font-size: 25px;
    color:black;}

.produtos_-pagina{font-size: 25;
    font-family: 'Times New Roman';}



body{background-color: white;}

.rodape{ color:white;
    font-size: 18px;
    background-color: black;
    padding:15px;
    text-align: center;}